body {
  font-family: sans-serif;
}

#editor {
  max-width: 800px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.full {
  width:100%;
}

.aside {
  font-size: 0.7em;
  float:right;
}

#args, #filesection, #compile {
  margin-bottom: 1em;
}

textarea {
  resize: none;
}

.filecontent {
  margin-top: 0.5em;
  min-height: 10em;
}

.file .filecontent {
  margin-top: 0.1em;
}
