/* Ensure that we're usable on mobile
body { zoom: 0.7;  }
@media (min-width:  576px) { body { zoom: 0.8; } }
@media (min-width:  768px) { body { zoom: 0.9; } }
@media (min-width:  992px) { body { zoom: 1.0; } }
@media (min-width: 1200px) { body { zoom: 1.1; } }
*/


#editor {
  max-width: 970px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.full {
  width: 100%;
}

.jumbotron {
  margin: 1rem 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.infotext {
  overflow:hidden;
}

input, #output {
  padding-left: 0.4em;
}

.aside {
  font-size: 0.7em;
  float: right;
  margin-top: 0.4em;
}

.file {
  position: relative;
  transition: all 0.1s;
}

.filename {
  float: left;
  margin-bottom: 0.25em;
}

.removefile {
  position: absolute;
  right: 0;
}

#output {
  min-height: 6em;
}

.contentwrapper {
  margin-top: 0.2em;
  border-radius: 5px;
  overflow: hidden;
}

#addfile {
  float: right;
}

#argsection {
  margin-bottom: 0.6em;
}

#output {
  background-color: black;
  color: white;
}

.rounded {
  border-radius: 10px;
}
